name: raii
description: >
  Resource Acquisition Is Initialization (RAII) pattern for Dart,
  providing automated lifecycle management of resources.
version: 0.3.0
repository: https://github.com/sysint64/raii
issue_tracker: https://github.com/sysint64/raii/issues
topics: [raii, lifecycle, resource-management, state-management]

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  mocktail: ^1.0.4
